.showcase {
    background: url(../img/banner/banner-bg.jpg) no-repeat center center/cover;
    height: 120vh;
    position: relative;

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);


        .profile-img {
            border-radius: 50%;
            width: 51rem;
            height: 51rem;
            overflow: hidden;
            padding: 3rem;
            border: 4px solid $color-white-tertiary;
            margin: 0 auto;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                text-align: center;
                background-image: linear-gradient(to right bottom,
                        $color-primary-light,
                        $color-primary-dark);
                z-index: -1;
                transform: scale(0.95);
                border-radius: 50%;
            }
        }

        .social-media {
            margin-top: 2rem;

            ul {

                li {
                    display: inline-block;
                    margin: 0 3px;

                    a {
                        display: block;
                        text-align: center;
                        width: 4rem;
                        height: 4rem;
                        line-height: 4rem;
                        border-radius: 50%;
                        background: $color-black;
                        color: $color-white;

                        &:hover {
                            background: $color-white;
                            color: $color-black;
                        }

                        i {

                            &::before {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

        }
    }
}




// Section: Resume...
.resume-section {

    .resume-part {

        .resume-title {


            i {
                width: 4.5rem;
                height: 4.5rem;
                line-height: 4.5rem;
                border-radius: 50%;
                background: $color-primary;
                text-align: center;
                display: inline-block;
                font-weight: 500;
                margin-right: .5rem;

                &::before {
                    margin-left: 0;
                    font-size: 3rem;
                }
            }
        }

        .education-list {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 2.2rem;
                width: 1px;
                height: 90%;
                background: $color-black-primary;
            }

            .education-part {
                padding-left: 5.5rem;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                .university-name {


                    .name {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 2rem;
                            height: 2rem;
                            line-height: 2rem;
                            border-radius: 50%;
                            border: 3px solid $color-primary;
                            left: -4.2rem;
                            top: 2px;
                            background: $color-black;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .employment-list {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 1px;
                height: 90%;
                background: $color-black-primary;
                left: 2.2rem;
                top: 0;
            }

            .employment-part {
                padding-left: 5.5rem;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                .university-title {

                    .name {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 2rem;
                            height: 2rem;
                            line-height: 1.7;
                            border-radius: 50%;
                            border: 3px solid $color-primary;
                            left: -4.2rem;
                            top: 2px;
                            background: $color-black;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .skills-list {
            position: relative;
            padding-left: 5.5rem;

            &::after {
                position: absolute;
                content: '';
                width: 1px;
                height: 100%;
                background: $color-black-primary;
                left: 2.2rem;
                top: 1rem;
            }

            .skills-part {
                .progress-bar {

                    &-1 {
                        width: 100%;
                        background-color: rgb(27, 27, 27);
                        border-radius: 6px;

                        .progress {
                            background-color: rgb(76, 176, 80);
                            height: 10px;
                            border-radius: 6px;
                            width: 80%;
                        }

                        .percent {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }

                    &-2 {
                        width: 100%;
                        background-color: rgb(27, 27, 27);
                        border-radius: 6px;

                        .progress {
                            background-color: rgb(139, 194, 74);
                            height: 10px;
                            border-radius: 6px;
                            width: 90%;
                        }

                        .percent {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }

                    &-3 {
                        width: 100%;
                        background-color: rgb(27, 27, 27);
                        border-radius: 6px;

                        .progress {
                            background-color: rgb(250, 151, 0);
                            height: 10px;
                            border-radius: 6px;
                            width: 60%;
                        }

                        .percent {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }

                    &-4 {
                        width: 100%;
                        background-color: rgb(27, 27, 27);
                        border-radius: 6px;

                        .progress {
                            background-color: rgb(255, 120, 0);
                            height: 10px;
                            border-radius: 6px;
                            width: 80%;
                        }

                        .percent {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }

                    &-5 {
                        width: 100%;
                        background-color: rgb(27, 27, 27);
                        border-radius: 6px;

                        .progress {
                            background-color: rgb(254, 87, 34);
                            height: 10px;
                            border-radius: 6px;
                            width: 50%;
                        }

                        .percent {
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }
                }

                h5 {
                    margin-top: 1.5rem;
                }
            }
        }

        .certificates-list {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 1px;
                height: 90%;
                background: $color-black-primary;
                left: 2.2rem;
                top: 0;
            }

            .certificates-part {
                padding-left: 5.5rem;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                .university-title {
                    .name {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 2rem;
                            height: 2rem;
                            line-height: 1.7;
                            border-radius: 50%;
                            border: 3px solid $color-primary;
                            left: -4.2rem;
                            top: 2px;
                            background: $color-black;
                            z-index: 1;
                        }
                    }
                }

            }
        }
    }
}



.service-section {

    .service-part {
        background: $color-black;
        padding: 7.7rem 4rem;
        box-shadow: 1px .5rem 2.2rem 8px $color-black-secondary;

        &:hover {
            box-shadow: none;
            transition: all 0.3s;
        }

        .service-icon {
            margin-bottom: 1.5rem;

            i {
                color: $color-primary;

                &:before {
                    margin-left: 0;
                    font-size: 4rem;
                }
            }
        }

        .service-content {

            h3 {
                font-size: 2rem;
                line-height: 1.7;
                color: $color-white;
                font-weight: 700;
                margin-bottom: 6px;
            }

            p {
                margin-bottom: 0px;
                font-size: 1.4rem;
                font-weight: 400;
                color: $color-white-primary;
            }
        }
    }
}



.portofolio-section {
    overflow: hidden;

    .portofolio-button {
        margin-bottom: 0;

        a {
            padding: 1rem 2rem;
            font-weight: 700;
            font-size: 1.6rem;
            display: inline-block;
            transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            cursor: pointer;
            color: $color-white-secondary;
        }

        a:hover,
        a.active {
            background: $color-primary;
            color: $color-white;
        }
    }

    .portofolio {

        &-part {
            margin: 7px;
            background: $color-white-secondary;
            text-align: center;
            position: relative;
            width: 32%;
            float: left;
            overflow: hidden;

            &:hover .front-hover {
                height: 100%;
                opacity: 1;
            }

            .front-image {

                img {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
            }

            .front-hover {
                position: absolute;
                width: 100%;
                height: 0;
                left: 0;
                right: 0;
                top: 0;
                background: linear-gradient(rgba(80, 80, 80, 0.8), rgba(10, 11, 10, 0.8));
                color: $color-white;
                transition: all .5s;
                opacity: 0.3;

                &-part {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0 2rem;

                    h4 {
                        color: $color-white;
                        margin-bottom: 1rem;
                    }

                    a {
                        display: inline-block;
                        padding: 1rem 2rem;
                        background: $color-primary;
                        color: $color-white;
                        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

                        &:hover {
                            background: $color-primary;
                        }
                    }
                }
            }
        }
    }

}


.testimonial-section {

    .testimonial-part {
        background: $color-black;
        box-shadow: 0 3px 9px 5px $color-black-secondary;
        margin-top: 6rem;
        padding: 6.7rem 4rem 2.5rem 4rem;
        position: relative;

        &:hover {
            box-shadow: none;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.7;
            font-weight: 500;
            margin-bottom: 1.5rem;
            font-style: italic;

            span {
                display: block;
                font-size: 1.4rem;
                line-height: 1.7;
                font-weight: 400;
                letter-spacing: 3px;
                margin-top: 1rem;
                color: $color-white;
            }
        }

        .icon {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: -4rem;
            text-align: center;
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
            border-radius: 50%;
            background: $color-primary;
            margin: 0 auto;

            i {
                color: $color-white;

                &::before {
                    margin-left: 0;
                    font-size: 3rem;
                }
            }
        }
    }
}

.contact-section {

    .contact-left {

        .profile-info {
            ul li {
                display: block;
                margin-bottom: 8px;
                font-weight: 400;
                cursor: pointer;

                i {
                    width: 3.2rem;
                    height: 3.2rem;
                    border-radius: 50%;
                    color: $color-white;
                    background: $color-primary;
                    text-align: center;
                    margin-right: 1.5rem;
                    display: inline-block;

                    &::before {
                        margin-left: 0;
                        font-size: 20px;
                    }
                }

                span {
                    font-weight: 900;
                }
            }
        }
    }

    
}