$color-primary:#ff4500;
$color-primary-light: #ff8f00;
$color-primary-dark: #ff2400;


$color-secondary: #fe5722;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-tertiary: #d04410;


$color-white: #fff;
$color-white-primary: #e9e9e9;
$color-white-secondary: #f4f4f4;
$color-white-tertiary: #ffdfcb;


$color-black: #1c1c1c;
$color-black-primary: #343434;
$color-black-secondary: #161616;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-form-primary: #323232;
$color-form-secondary: #585858;
$bg-form-primary: #201f1f;

$color-bg-card: #ea3f23;


.pt {
    padding-top: 11rem;
}

.btn-mt {
    margin-top: 11rem;
}

$default-font-size: 1.6rem;




